@import "src/styles/variables";

.select {
  height: 100%;
  width: 100%;

  padding: 0px 4px 0px 8px;

  border-radius: 4px;
  border: 1px solid $grayspace-layout-gray-30;

  margin: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-appearance: none;
  -moz-appearance: none;

  background-image: url("./images/en-sort-down.svg");
  background-position: right center;
  background-size: 16px 16px;
  background-repeat: no-repeat;
}


