@import "src/styles/variables";

.contentRow {
  box-sizing: border-box;
  height: 68px;
  width: 100%;
  padding: 10px 8px;

  display: flex;
  align-items: center;
  gap: 24px;

  border-bottom: 1px solid $grayspace-layout-gray-10;

  .text {
    width: 100%;
  }

  &Header {
    height: 44px;
    border-top: 1px solid $grayspace-layout-gray-10;
    background-color: $grayspace-layout-gray-5;
  }

  .icon {
    height: 16px;
    width: 17px;
    flex-grow: 0;

    path {
      fill: $black;
    }
  }
}

.headerText {
  font-size: 14px;
  line-height: 24px;
  font-weight: 500;
  color: $grayspace-text-gray-70;
}

.mainText {
  font-size: 14px;
  line-height: 20px;
  font-weight: 400;
  color: $text-main;
}

.selected {
  background-color: $grayspace-layout-gray-5;
  color: $cskc-06-ecc-400;
}
