// colors
$text-main: #434652;
$text-disable: #BCBFCC;
$gray-1: #999;
$grayspace-layout-white: #fff;
$grayspace-layout-gray-5: #F8F8FA;
$grayspace-layout-gray-10: #EBECEF;
$grayspace-layout-gray-30: #D0D3DA;
$grayspace-text-gray-70: #737680;
$grayspace-icon-gray-80: #414348;
$lightgrey: #F8F8FA;
$black: #121212;
$black-040: rgba(0, 0, 0, 0.4);
$black-070: rgba(0, 0, 0, 0.7);
$cskc-06-ecc-400: #BD68CA;
$cskc-06-ecc-500: #C06ECC;
$forms-gray-20: #D8DAE0;
$modal-gray-shadow: rgba(76, 93, 112, 0.30)
