@import "src/styles/variables";

.fileInputWrapper {
  position: relative;
}

.button {
  display: flex;
  justify-content: center;
  align-items: center;

  position: absolute;
  right: 4px;
  top: 2px;

  width: 36px;
  height: 36px;

  border: 0;
  outline: 0;
  text-overflow: clip;
  background-color: $grayspace-layout-white;
  //background-color: $cskc-06-ecc-400;
}
