@import "src/styles/variables";

.promotionTableRow {
  height: 68px;
  width: 100%;

  display: flex;
  align-items: center;

  border-bottom: 1px solid $grayspace-layout-gray-10;
  color: $text-main;
  font-size: 14px;
  line-height: 20px;
  font-weight: 400;

  &Header {
    height: 44px;
    border-top: 1px solid $grayspace-layout-gray-10;
    background-color: $grayspace-layout-gray-5;

    color: $grayspace-text-gray-70;
    line-height: 24px;
    font-weight: 500;
  }

  & > *:nth-child(1) {
    width: 48px;

    box-sizing: border-box;
    padding: 0 8px;
    height: fit-content;
    margin: 0;
  }

  & > div {
    display: flex;
    align-items: center;

    width: 100%;

    & > *:nth-child(n) {
      box-sizing: border-box;
      padding: 0 8px;
      height: fit-content;
      margin: 0;
    }

    & > *:nth-child(1) {
      width: 242px;
    }

    & > *:nth-child(2) {
      width: 189px;
    }

    & > *:nth-child(3) {
      width: 181px;
    }

    & > *:nth-child(4) {
      width: 224px;
    }

    & > *:nth-child(5) {
      width: 75px;
    }
  }
}
