@import "src/styles/variables";

.searchInput {
  box-sizing: border-box;
  width: 320px;
  height: 40px;

  border-radius: 8px;
  border: 1px solid $forms-gray-20;
  background: $grayspace-layout-white;

  text-align: start;
  padding: 10px 36px;

  &::-webkit-outer-spin-button,
  &::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }

  &[type=number] {
    -moz-appearance: textfield;
  }


  &Wrapper {
    width: fit-content;
    position: relative;
    display: flex;
    align-items: center;
    gap: 4px;
  }
}

.searchIcon {
  left: 12px;
  position: absolute;
  height: 16px;
  width: 16px;
}

.closeIcon {
  right: 12px;
  position: absolute;
  height: 16px;
  width: 16px;
}
