@import "src/styles/variables";

.nav-link {
  display: flex;
  width: 185px;
  padding: 16px;
  height: 24px;
  align-items: center;
  gap: 16px;

  text-decoration: none;

  &_text {
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 20px;
  }

  &_icon {
    width: 24px;
    height: 24px;
    flex-shrink: 0;

    path {
      fill: black;
    }
  }

  &--active {
    border-radius: 8px;
    background: $cskc-06-ecc-500;

    & path {
      fill: white;
    }
  }
}
