@import "src/styles/variables";

.checkbox-wrapper {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;

  & input[type=checkbox] {
    /* removing default appearance */
    -webkit-appearance: none;
    appearance: none;
    /* creating a custom design */
    width: 16px;
    height: 16px;
    border-radius: 2px;
    border: 1px solid $grayspace-layout-gray-30;
    background-color: $grayspace-layout-white;
    outline: none;
    cursor: pointer;
  }

  & input[type=checkbox]:checked {
    border: 0;
    background-image: url('./images/master.svg');
  }

  &--some-checked input[type=checkbox] {
    background-image: linear-gradient(
                    to right,
                    $grayspace-layout-gray-30,
                    $grayspace-layout-gray-30,
    );
    background-repeat: no-repeat;
    background-size: 80% 2px;
    background-position: center center;
  }

}
