@import "src/styles/variables";

.clientsTable {
  width: 959px;
  height: 740px;
  overflow: scroll;

  // hide scrollbar
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */

  &::-webkit-scrollbar {
    display: none;
  }
}

