@import "src/styles/variables";

.editField {
  display: flex;
  flex-direction: column;
  gap: 4px;

  color: $grayspace-text-gray-90;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px;
}

.grow {
  flex-grow: 1;
}

