.clients-page {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  gap: 24px;

  width: 100%;
  height: 100%;
}

.search-input_wrapper {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}
